<style>

</style>
<div class="page_wrapper" data-ng-class="{'blur': show_dispozicija===true}">

    <article class="page_header cf" >
       <div class="">
           <h1 class="page-title">
            <i class="fa fa-street-view fa-lg"></i></i>
            Prodavac/Pregled merkantile  </h1>
       </div>
        <div class="smart-form" style="position:relative;z-index:100">
            <autocomplete-clients klijenti="kupci" callback="odabirkupca"></autocomplete-clients>
        </div>
    </article>
    
</div>