<div style="z-index:3000;position:relative">
<section><!--col-lg-12 padding_15-->
    <label class="input" style="">
        <i class="icon-prepend for_infobox  fa fa-street-view" data-boxinfo="Naziv Klijenta"></i>
        <input type="text" class="input-sm" name="Odabrani kupac" readonly placeholder="Izaberi kupca"  data-ng-model="odabrani_firm_name" data-ng-click="unhide()"><!--unhide()-->
    </label>
    <i class="fa fa-cog fa-spin for_kupca"></i>
</section>
<div class="search_kupac_con " data-ng-show="hide_kupac" >
    
       <div class="">
            <label class="input" style="margin:15px">
                <i class="icon-prepend fa fa-search for_infobox" data-boxinfo="Datum do"></i>
                <input type="text" class="input-sm" name="filter_kupca" placeholder="filtriraj kupca"  data-ng-model="trazi_kupca">
            </label>
       </div>
        <div class="kupac_list" >
        <ul>
            <li data-ng-repeat="(index, kupac) in klijenti | filter:trazi_kupca" data-ng-click="odabirKupca($index)" data-ng-mouseup="hide()" >
                {{kupac.firm_name}} {{$index}}
            </li>
        </ul>
        </div>
    </div>

</div>